
body
{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    font-size: 10pt;
}

#new-user
{
    width: 640px;
    height: 35px;
    background-color: #e8e8e8;
    box-shadow: 5px 5px 5px #a7a7a7;
    border: solid #a7a7a7 1px;
    padding-top: 8px;
    padding-left: 8px;
    position: fixed;
    left: 50%;
    margin-left: -320px;
}

#users ul
{
    list-style-type: none;
    top: 40px;
    position: fixed;
    width: 640px;
    padding-top: 8px;
    padding-left: 0px;
    left: 50%;
    margin-left: -320px;
}

#users ul li
{
    text-decoration: none;
    width:  648px;
    height: 40px;
}


#users ul li div
{
    padding-left: 10px;
    padding-top: 5px;
    border: solid #a7a7a7 1px;
    box-shadow: 3px 3px 3px #a7a7a7;
    height: 25px;

}



.toggle
{
    float:left;
    margin-right: 10px;
}

.destroy
{
    float:right;
    margin-right: 10px;
}

.edit-input
{
    position: relative;
    top: -28px;
    left: 33px;
    height:18px;
    width:300px;
    z-index: 10;

}
